input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.bg-success {
    background-color: #0d9488;
}

.bg-error {
    background-color: #ef4444;
}

.bg-warning {
    background-color: #f59e0b;
}

.bg-info {
    background-color: #3b82f6;
}

.dark .bg-success {
    background-color: #0f766e;
}

.dark .bg-error {
    background-color: #dc2626;
}

.dark .bg-warning {
    background-color: #d97706;
}

.dark .bg-info {
    background-color: #2563eb;
}

.completion-bar-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #e0e0e0;
    border-radius: 8px;
    height: 20px;
    margin-bottom: 1em;
    overflow: hidden;
}

.dark .completion-bar-container {
    background: #241e45;
}

.completion-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(90deg, #2cc8ca, #a95de0);
    transition: width 0.4s;
    z-index: 1;
    border-radius: 8px;
}

.completion-bar-container span {
    z-index: 10;
    width: 100%;
    text-align: center;
    position: relative;
    font-weight: 600;
    font-size: 0.75rem;
}

.dark .completion-bar-container span {
    color: #f0fdfb;
}

.dark .ss-common {
    color: #d1d5db;
}

.mana-color-bar {
    display: flex;
    height: 4px;
    max-width: 20rem;
    margin: 0 auto 1.5rem;
    border-radius: 2px;
    overflow: hidden;
}
.mana-color-bar span {
    flex: 1;
}
.mana-w {
    background: #f0d94e;
}
.mana-u {
    background: #0e68ab;
}
.mana-b {
    background: #393b44;
}
.mana-r {
    background: #d3202a;
}
.mana-g {
    background: #00733e;
}

@media (max-width: 450px) {
    table,
    .table-container,
    .min-w-full {
        font-size: 0.7rem !important;
    }

    th,
    td {
        padding-left: 0.25rem !important;
        padding-right: 0.25rem !important;
        padding-top: 0.25rem !important;
        padding-bottom: 0.25rem !important;
    }

    .price-normal,
    .price-foil {
        font-size: 0.7rem !important;
    }

    .xs-hide {
        display: none !important;
    }

    .xs-show {
        display: block !important;
    }

    th.xs-show,
    td.xs-show {
        display: table-cell !important;
    }

    tr.xs-show {
        display: table-row !important;
    }
}

@media (min-width: 451px) {
    .xs-show {
        display: none !important;
    }
}
