input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.bg-success {
    background-color: rgb(185 250 185);
}

.bg-error {
    background-color: rgb(252 165 165);
}

.bg-warning {
    background-color: rgb(255 255 0);
}

.bg-info {
    background-color: rgb(173 216 230);
}