<span class="total-owned-controller">
    <button class="remove-card-btn">
        <span class="minus">-</span>
    </button>
    <span class="total-owned">{{this.totalOwned}}</span>
    <button class="add-card-btn">
        <span class="plus">+</span>
    </button>
</span>
{{!-- TODO: buttons for foil or list as entirely different card? --}}