<nav>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Sets</a></li>
        <li><a href="#">Collection</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Settings</a></li>
    </ul>
</nav>