<table class="card-set">
    {{#each cards}}
        <tr class="card-set-card">
            {{!-- <td class="card-set-card-owned">{{}}</td> --}}
            <td class="card-set-card-number">{{this.number}}</td>
            <td class="card-set-card-name">{{this.name}}</td>
            <td class="card-set-card-mana-cost">{{this.manaCost}}</td>
            <td class="card-set-card-rarity">{{this.rarity}}</td>
        </tr>
    {{/each}}
</table>