<div id="login-container">
    <h3 id="page-title">User Login</h3>

    <p id="response-message">{{ message }}</p>

    <form id="login-form">
        <label for="user-email">Email</label>
        <input id="user-email" type="email" name="email" />
        <label for="user-password">Password</label>
        <input id="user-password" type="password" name="password" />
        <button id="login-btn" type="submit">Login</button>
    </form>
</div>