<button id="toggle-price-mode" class="btn btn-secondary mb-4" type="button">Foil Prices</button>
<div>{{>setInfo}}</div>
<div>{{>setCards}}</div>
<script src="/public/js/priceToggle.js" defer></script>