<section class="section-container text-center">
    <h1 class="page-title">I Want My MTG!</h1>
    <ul class="page-subtitle">
        <li>Track your collection</li>
        <li>Discover set values</li>
        <li>Manage your inventory</li>
    </ul>
</section>
{{>setList}}