<div id="set-list-ajax" data-authenticated="{{authenticated}}">
    {{>setList}}
</div>
<script src="/public/js/ajaxUtils.js?v={{assetVersion}}" defer></script>
<script src="/public/js/setListAjax.js?v={{assetVersion}}" defer></script>
