<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/tailwind.css" rel="stylesheet" type="text/css" />
    <link href="/public/css/app.css" rel="stylesheet" type="text/css" />
</head>

<body class="bg-white items-center justify-center min-h-screen">
    <header>
        {{>navbar}}
        {{>breadcrumbs}}
    </header>
    <main class="text-sm sm:text-base md:text-lg lg:test-xl">
        {{{body}}}
    </main>
    <footer>
        {{>footer}}
    </footer>
</body>

</html>