<form class="quantity-form" data-item-id="{{card.id}}">
    <button type="button" class="increment-quantity">+</button>
    <input type="number" 
        name="quantity-owned" 
        class="quantity-owned" 
        value="{{#if card.quantity}}{{card.quantity}}{{else}}0{{/if}}"
        data-id="{{card.id}}" />
    <button type="button" class="decrement-quantity">-</button>
</form>
