<table class="min-w-full bg-white">
    <thead>
        <tr class="table-header-row">
            <th class="table-header pl-2">Card No.</th>
            <th class="table-header">Name</th>
            <th class="table-header">Mana Cost</th>
            <th class="table-header">Rarity</th>
            <th class="table-header pr-2">Price</th>
        </tr>
    </thead>
    <tbody>
        {{#each cards}}
        <tr class="table-row">
            <td class="py-2 pl-2">{{this.number}}</td>
            <td class="py-2">
                <a href="{{this.url}}" class="table-link">{{this.name}}</a>
                {{>reserved card=card}}
            </td>
            <td class="py-2">{{>manaCost}}</td>
            <td class="py-2">{{this.rarity}}</td>
            <td class="py-2 pr-2">{{>price card=this}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>