<form class="delete-inventory-form" data-item-id="{{card.cardId}}">
    <input type="hidden" name="card-id" value="{{card.cardId}}" />
    <input type="hidden" name="isFoil" value="{{card.isFoil}}" />

    <button type="button" class="delete-inventory-button">
        <i class="fas fa-trash-alt"></i>
    </button>
</form>