<form class="delete-inventory-form" data-item-id="{{card.id}}">
    <input type="hidden" name="card-id" value="{{card.id}}" />
    <input type="hidden" name="isFoil" value="{{eq variant.type 'foil'}}" />

    <button type="button" class="delete-inventory-button">
        <i class="fas fa-trash-alt"></i>
    </button>
</form>