{{#each card.variants as |variant|}}
    <span class="{{variant.type}}-inventory-controller {{#unless @first}}hidden{{/unless}}">
        {{>cardsOwned variant=variant card=../card}}
    </span>
{{/each}}
