<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/sets">Sets</a></li>
        <li><a href="/inventory">My Inventory</a></li>
        {{!-- TODO: If logged in: --}}
        <li><a href="/user">My Account</a></li>
        {{!-- TODO: Else/If not logged in --}}
        <li>
            <a href="/auth/login">Login</a>
            <span> | </span>
            <a href="/user/create">Create Account</a>
        </li>
    </ul>
</nav>
<p class="{{ status }}">{{ message }}</p>
