@tailwind base;
@tailwind components;
@tailwind utilities;


.breadcrumb-item {
    @apply text-sm;
}

.breadcrumb-layout {
    @apply flex items-center;
}

.btn {
    @apply py-2 px-4 rounded-lg shadow-md;
}

.btn-primary {
    @apply bg-teal-500 text-white hover:bg-teal-600 focus:ring-4 focus:ring-teal-300;
}

.btn-secondary {
    @apply bg-purple-500 text-white hover:bg-purple-600 focus:ring-4 focus:ring-purple-300;
}

.btn-tertiary {
    @apply bg-blue-500 text-white hover:bg-blue-600 focus:ring-4 focus:ring-blue-300;
}

.card-img-link {
    @apply absolute hidden z-50;
}

.card-img-preview {
    @apply w-64 h-auto;
}

.cards-owned-td {
    @apply w-0;
}

.create-user-container {
    @apply bg-teal-100 shadow-lg rounded-lg p-8 max-w-3xl w-full mx-auto mt-10;
}

.delete-inventory-button {
    @apply flex items-center justify-center cursor-pointer;
    color: black;
}

.delete-inventory-button:hover {
    color: red;
}

.delete-inventory-button:active {
    color: darkred;
}

.input-field {
    @apply mt-1 w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-teal-500 focus:outline-none;
}

.input-label {
    @apply block font-medium text-teal-500;
}

.inventory-controller-button {
    @apply flex items-center justify-center px-3 bg-teal-300 text-white hover:bg-teal-400 active:bg-teal-300;
}

.link {
    @apply text-purple-600 hover:underline;
}

.login-container {
    @apply bg-teal-100 shadow-lg rounded-lg p-8 max-w-md w-full mx-auto mt-10;
}

.logo {
    @apply h-20 w-auto;
}

.navbar-link {
    @apply text-white hover:text-teal-100 px-3 py-2 rounded-md font-medium;
}

.navbar-link-mobile {
    @apply text-white hover:text-teal-100 block px-3 py-2 rounded-md text-base font-medium;
}

.page-title {
    @apply text-teal-900 text-2xl font-bold mb-4;
}

.page-subtitle {
    @apply text-teal-700 text-lg md:text-base lg:text-xl mb-6;
}

.quantity-form {
    @apply text-sm md:text-base lg:text-lg;
}

.response-message {
    @apply fixed top-4 right-4 text-white p-4 rounded shadow-lg cursor-pointer;
}

.response-message-error {
    @apply bg-red-500;
}

.response-message-info {
    @apply bg-blue-500;
}

.response-message-success {
    @apply bg-teal-500;
}

.section-container {
    @apply bg-white border-b border-teal-100 p-6 m-6;
}

.section-content {
    @apply text-sm text-gray-600;
}

.section-title {
    @apply text-lg md:text-base lg:text-xl font-semibold mb-2;
}

.settings-container {
    @apply bg-teal-100 shadow-lg rounded-lg p-8 max-w-3xl w-full mx-auto mt-10;
}

.subsection-container {
    @apply mb-6 border-b border-gray-200;
}

.table-container {
    @apply w-full bg-white ;
}

.table-header {
    @apply border-b border-purple-300 py-2;
}

.table-header-row {
    @apply bg-teal-200 text-left;
}

.table-link {
    @apply text-blue-500 hover:underline;
}

.table-row {
    @apply bg-white even:bg-teal-100 border-b border-teal-300;
}

.foil-mode .normal-price,
.foil-mode .owned-normal,
.foil-inventory-controller {
    display: none ;
}
.foil-mode .foil-price,
.foil-mode .owned-foil {
    display: inline ;
}