<nav class="breadcrumb-layout" aria-label="breadcrumb">
    <div class="breadcrumb">
        {{#each breadcrumbs}}
        {{#if @last}}
        <span class="breadcrumb-item active" aria-current="page">{{label}}</span>
        {{else}}
        <span class="breadcrumb-item">
            <a class="link" href="{{url}}">{{label}}</a><span> / </span>
        </span>
        {{/if}}
        {{/each}}
    </div>
</nav>
{{!-- 
<nav class="breadcrumb-layout" aria-label="Breadcrumbs">
    <ol class="flex items-center space-x-2">
        <li><a href="/" class="text-gray-600 hover:text-gray-800">Home</a></li>
        <li><a href="/sets" class="text-gray-600 hover:text-gray-800">Sets</a></li>
        <li><a href="/sets/10E" class="text-gray-600 hover:text-gray-800">10E</a></li>
        <li aria-current="page">Ancestor's Chosen</li>
    </ol>
</nav> --}}