<form action="/inventory" method="delete">
    <input type="hidden" name="cardId" value="{{this.id}}" />
    <button type="submit" class="delete-inventory-button">
        <i class="fas fa-trash-alt"></i>
    </button>
</form>
