<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/sets">Sets</a></li>
        <li><a href="#">My Inventory</a></li>
        <li><a href="#">My Account</a></li>
        <li><a href="/user/create">Create Account</a></li>
    </ul>
</nav>