<nav class="breadcrumb-layout" aria-label="breadcrumb">
    <div class="breadcrumb">
        {{#each breadcrumbs}}
        {{#if @last}}
        <span class="breadcrumb-item active" aria-current="page">{{label}}</span>
        {{else}}
        <span class="breadcrumb-item">
            <a class="link" href="{{url}}">{{label}}</a><span> / </span>
        </span>
        {{/if}}
        {{/each}}
    </div>
</nav>