<div class="completion-bar-container flex items-center relative">
    <div class="completion-bar absolute top-0 left-0 h-full" style="width: {{completionRate}}%;"></div>
    <span class="w-full text-center z-10 font-bold relative">{{completionRate}}%</span>
</div>