<span class="relative inline-block">
    <button type="button"
        class="cost-basis-tooltip-trigger text-gray-400 dark:text-gray-500 hover:text-teal-600 dark:hover:text-teal-400 transition-colors ml-1 align-middle"
        aria-label="Cost basis methodology">
        <svg class="w-3.5 h-3.5 inline" fill="currentColor" viewBox="0 0 20 20">
            <path fill-rule="evenodd"
                d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                clip-rule="evenodd" />
        </svg>
    </button>
    <span class="cost-basis-tooltip hidden absolute bottom-full left-1/2 -translate-x-1/2 mb-2 bg-midnight-800 dark:bg-midnight-700 text-white text-xs rounded-lg p-3 shadow-lg z-10 w-64 text-left">
        <span class="font-semibold block mb-1">{{title}}</span>
        {{description}}
        <span class="absolute top-full left-1/2 -translate-x-1/2 -mt-1 w-2 h-2 bg-midnight-800 dark:bg-midnight-700 transform rotate-45"></span>
    </span>
</span>
