{{~!-- Site footer with gradient bar and credit line. No parameters. --~}}
<div class="w-full mt-auto">
    <div class="h-1 bg-gradient-to-r from-teal-400 via-purple-500 to-hotpink-500"></div>
    <div class="py-6 bg-purple-900 dark:bg-midnight-950 text-center text-sm text-teal-300 dark:text-teal-400">
        I Want My MTG! &#9734; mdt
        <div class="mt-2 flex flex-wrap justify-center gap-x-4 gap-y-1 text-[12px]">
            <a href="/privacy" class="hover:underline">Privacy</a>
            <a href="/terms" class="hover:underline">Terms</a>
            <a href="/guides/getting-started" class="hover:underline">Getting Started</a>
        </div>
        <div class="mt-2 text-[11px] text-teal-400/70 dark:text-teal-500/70 max-w-xl mx-auto px-4">
            When you click on "Buy on TCGPlayer" links on this site and make a purchase, this can result in this site earning a commission at no extra cost to you. I Want My MTG is an independent fan project and is not affiliated with Wizards of the Coast.
        </div>
    </div>
</div>
