<a href="{{sortLink}}" class="sort-btn">
    {{sortText}}
    <span class="sort-icon">
        {{#if ascend}}
        {{>uparrow}}
        {{else}}
        {{>downarrow}}
        {{/if}}
    </span>
</a>