<div class="stat-card{{#if highlight}} stat-card-highlight{{/if}}">
    <span class="stat-label">{{label}}</span>
    <span class="stat-value{{#if valueClass}} {{valueClass}}{{/if}}">{{value}}</span>
</div>
