{{~!--
  Static (non-sortable) table header cell.

  Parameters:
    header — { text, subtitle, classes: string[] }
--~}}
<th class="table-header {{#each header.classes as |c|}} {{c}} {{/each}}">
    {{header.text}}
    {{#if header.subtitle}}
    <span class="header-subtitle">({{header.subtitle}}△)</span>
    {{/if}}
</th>