{{~!
  Renders tag badges for a card or set.

  Parameters:
    item - object with .tags array of strings (e.g. ["Showcase", "Extended Art"])
~}}
{{#each item.tags}}
    <span class='tag'>{{this}}</span>
{{/each}}