<div id="create-user-container">
    <h3 id="page-title">Create User Account</h3>
    <form id="create-user-form" action="/user/create" method="post">
        <label for="user-name">User Name</label>
        <input id="user-name" type="text" name="name" />
        <label for="user-email">Email</label>
        <input id="user-email" type="email" name="email" />
        <button id="submit-button" type="submit">Submit</button>
    </form>
</div>