<div class="settings-container">
    <h2 class="page-title">User Settings</h2>

    <div class="section-container">
        <h3 class="page-subtitle">Edit Profile</h3>
        <form id="user-update-form" class="mt-6">
            <div class="mb-4">
                <label class="input-label" for="user-name">User Name</label>
                <input id="user-name" class="input-field" type="text" name="name" value="{{ user.name }}" />
            </div>
            <div class="mb-4">
                <label class="input-label" for="user-email">Email</label>
                <input id="user-email" class="input-field" type="email" name="email" value="{{ user.email }}" />
            </div>
            <button id="update-user-btn" class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
    <div class="section-container">
        <h3 class="page-subtitle">Change Password</h3>
        <form id="password-update-form" class="mt-6">
            <div class="mb-4">
                <label class="input-label" for="new-password">New Password</label>
                <input id="new-password" class="input-field" type="password" name="password" />
            </div>
            <button id="update-password-btn" class="btn btn-secondary" type="submit">Update Password</button>
        </form>
    </div>
    <div class="section-container">
        <h3 class="page-subtitle">Delete User Account</h3>
        <button id="delete-user-btn" class="btn btn-tertiary" type="submit">Delete User</button>
    </div>
</div>
<script>
    async function updateMessage(response, messageEl, method) {
        messageEl.classList.remove("bg-info", "bg-success", "bg-error");
        if (response.ok) {
            const result = await response.json();
            const className = result.status ? `bg-${result.status}` : "bg-info";
            messageEl.textContent = result.message;
            console.log(`Status from user.hbs: ${result.status}`);
            messageEl.classList.add(className);
        } else {
            messageEl.textContent = `Failed to ${method} user`;
            messageEl.classList.add("bg-error");
        }
    }

    const messageEl = document.getElementById("response-message");

    document.getElementById("user-update-form").addEventListener("submit", async (event) => {
        event.preventDefault();
        const formData = new FormData(event.target);
        const data = Object.fromEntries(formData.entries());
        const response = await fetch("/user", {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        });
        updateMessage(response, messageEl, "update");
    });

    document.getElementById("password-update-form").addEventListener("submit", async (event) => {
        event.preventDefault();
        const formData = new FormData(event.target);
        const data = Object.fromEntries(formData.entries());
        const response = await fetch("/user/password", {
            method: "PATCH",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        });
        updateMessage(response, messageEl, "update");
    });

    document.getElementById("delete-user-btn").addEventListener("click", async (event) => {
        event.preventDefault();
        const response = await fetch(`/user`, {
            method: "DELETE",
        });
        updateMessage(response, messageEl, "delete");
    });
</script>